@using System.Reflection
@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> shLoc

@{
    var assembly = Assembly.GetEntryAssembly()!;
    string copyright = assembly.GetCustomAttribute<AssemblyCopyrightAttribute>()!.Copyright;
    string version = assembly.GetCustomAttribute<AssemblyFileVersionAttribute>()!.Version;
}

<PageTitle>MicroBytKonami</PageTitle>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <span class="site-header-logo d-none d-sm-none d-md-inline-block"><span class="fas fa-code" style="font-family: 'zx';"></span>MK</span>
                <span class="site-header-text">
                    <span class="site-header-title">
                        Microbyt
                        <span class="site-header-title-extra">Konami</span>
                    </span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">@shLoc["HomeNamePage"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="about">@shLoc["AboutNamePage"]</a>
                    </li>
                    @*  <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-link text-dark" aria-hidden="true">Página Principal</span>
                    </NavLink>
                    </li>
                    <li class="nav-item">
                    <NavLink class="nav-link" href="weather">
                    <span class="nav-link text-dark" aria-hidden="true">Acerca de</span>
                    </NavLink>
                    </li> *@
                    @*  <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link text-dark"><CultureSelector @rendermode="InteractiveServer" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-4">
            <FortuneOfDay></FortuneOfDay>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        @copyright V.@version @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        @* <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
        </div> *@
    </div>
</footer>

