@page "/StatusCode/{code:int}"
@inject IStringLocalizer<StatusCode> loc
@inject IStringLocalizer<SharedResource> shLoc

<div class="text-center notfound">
    @if (Code != 404)
    {
        <h3>StatusCode @Code</h3>
    }
    else
    {
        <h1>@loc["PageNotFoundTitle"]</h1>
        <p>
            @loc["PageNotFoundText"]
        </p>
    }
    <a href="">@shLoc["GoToHomeText"]</a>
</div>

@code {
    [Parameter] public int? Code { get; set; }
}
