@{
    ViewData["Title"] = "Acerca de Microbyt Konamic";
}
<h1>@ViewData["Title"]</h1>

<p>Microbyt Konamic nacio en Diciembre de 2023 y su primera funcionalidad fue una postal navideña que todo mundo viera su felicitación.</p>
<p>Este proyecto esta hecho en asp.net core mvc usando .net 8 y la postal en unity3d 2022.3.16f1</p>
<p>
    MicrobytKonamic viene de dos palabras:
    <ul>
        <li>Microbyt : Es una marca ficticia que ideo mi padre cuando yo de pequeño/adolescente hacia desarrollo con él. Mi padre murió hace 12 años y es un homenaje al él.</li>
    
        <li>Konami: Konami empresa de mi infancia de videojuegos y además konami2001es que es el usuario de mi hermano de twitter. Falleció hace un mes, 3 de Noviembre y es un homenaje al él.</li>
    </ul>    
</p>
