@font-face {
    font-family: 'zx';
    src: url('/css/zx.ttf');
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.site-header-logo {
    font-size: 30px;
    background-color: red;
    color: white;
    height: 50px;
    width: 50px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}

.site-header-text {
    display: inline-block;
    margin-right: 30px;
}

.site-header-title {
    display: inline;
    line-height: 1;
    font-size: 23px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.site-header-title-extra {
    display: inline;
    color: red;
    font-weight: normal;
    margin: 0;
}

.text-nombre1 {
    font-size: 23px;
    color: black;
    font-weight: bold;
}

.text-nombre2 {
    font-size: 23px;
    color: red;
    font-weight: normal;
}

.text-nombre11 {
    color: black;
    font-weight: bold;
}

.text-nombre21 {
    color: red;
    font-weight: normal;
}

#unity-container {
    position: absolute
}

    #unity-container.unity-desktop {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    #unity-container.unity-mobile {
        position: fixed;
        width: 100%;
        height: 100%
    }

#unity-canvas {
    background: #231F20
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}

#unity-rungame-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
}

#unity-footer {
    position: relative
}

.unity-mobile #unity-footer {
    display: none
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}

#unity-fullscreen-button {
    cursor: pointer;
    float: left;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
