@using System.Net
@inject NavigationManager navigationManager
@inject IStringLocalizer<PostalNavUrlSharedSocial> loc
@inject IStringLocalizer<SharedResource> shLoc

<div class="content">
    <div class="row row-cols-auto">
        @* <div class="col"> <h3><a href="@maillink"><i class="bi bi-envelope"></i></a></h3></div>
        <div class="col"><h3><a href='https://www.facebook.com/sharer.php?t=@textEncoding&u=@urlEncoding' target="_blank"><i class="bi bi-facebook"></i></a></h3></div>
        <div class="col"><h3><a href='https://www.linkedin.com/sharing/share-offsite/?url=@urlEncoding' target="_blank"><i class="bi bi-linkedin"></i></a></h3></div>
        <div class="col"><h3><a href='https://twitter.com/intent/tweet?url=@urlEncoding&text=@textEncoding' target="_blank"><i class="bi bi-twitter-x"></i></a></h3></div>
        <div class="col"><h3><a href='https://api.whatsapp.com/send?text=@msgEncoding' target="_blank"><i class="bi bi-whatsapp" data-action="share/whatsapp/share"></i></a></h3></div>
        <div class="col"><h3><a href='https://t.me/share/url?url=@urlEncoding&text =@textEncoding' target="_blank"><i class="bi bi-telegram"></i></a></h3></div> *@
        <div class="col"> <h3><a href="@maillink"><i class="bi bi-envelope"></i></a></h3></div>
        <div class="col"><h3><a href="javascript:void(0)" onclick="javascript:genericSocialShare('https://www.facebook.com/sharer.php?t=@textEncoding&u=@urlEncoding')"><i class="bi bi-facebook"></i></a></h3></div>
        <div class="col"><h3><a href="javascript:void(0)" onclick="javascript:genericSocialShare('https://www.linkedin.com/sharing/share-offsite/?url=@urlEncoding')"><i class="bi bi-linkedin"></i></a></h3></div>
        <div class="col"><h3><a href="javascript:void(0)" onclick="javascript:genericSocialShare('https://twitter.com/intent/tweet?url=@urlEncoding&text=@textEncoding')"><i class="bi bi-twitter-x"></i></a></h3></div>
        <div class="col"><h3><a href="javascript:void(0)" onclick="javascript:genericSocialShare('https://api.whatsapp.com/send?text=@msgEncoding')"><i class="bi bi-whatsapp"></i></a></h3></div>
        <div class="col"><h3><a href="javascript:void(0)" onclick="javascript:genericSocialShare('https://t.me/share/url?url=@urlEncoding&text&text=@textEncoding')"><i class="bi bi-telegram"></i></a></h3></div>
    </div>
</div>

@code {
#nullable disable
    Uri url;
    string subject;
    string subjectEncoding;
    string urlEncoding;
    string msg;
    string msgEncoding;
    string text;
    string textEncoding;
    string maillink;
#nullable restore

    protected override void OnInitialized()
    {
        subject = @shLoc["ChristmasCardNamePage"];
        subjectEncoding = WebUtility.UrlEncode(subject);
        url = navigationManager.ToAbsoluteUri("/PostalNavidenya");
        urlEncoding = WebUtility.UrlEncode(url?.ToString());
        //msg = $"Haz clic en el siguiente enlace para añadir tu felicitación y ver la postal:\n{url}";
        msg = Smart.Format(loc["MsgVar"], new { url = url });
        msgEncoding = WebUtility.UrlEncode(msg);
        text = loc["TextVar"];
        textEncoding = WebUtility.UrlEncode(text);
        maillink = $"mailto:?subject={subjectEncoding}&body={msgEncoding}";
    }
}
