@page "/about"
@inject IStringLocalizer<About> loc
@inject IStringLocalizer<SharedResource> shLoc

<MKPageTitle Title=@shLoc["AboutNamePage"] />

<div class="content">
    <div class="row">
        @* <=576 sm:>=576 md:>=768 lg:>=992 xl:>=1200 xxl>=1400 *@
        @* col-3 *@
        <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
            <img src="images/padrehermano.png" />
        </div>
        <div class="col">
            <p>@loc["ProjectDescription1"]</p>
            <p>@loc["ProjectDescription2"]</p>
            <p>
                <span class="text-nombre1">Microbyt</span><span class="text-nombre2">Konami</span> viene de dos palabras:
                <ul>
                    <li><span class="text-nombre11">Microbyt</span> : @loc["MicrobytDescription"]</li>

                    <li><span class="text-nombre21">Konami</span>: @loc["KonamiDescription"]</li>
                </ul>
            </p>
        </div>
    </div>
</div>