@page "/about"

<MKPageTitle Title="Acerca de" />

<div class="content">
    <div class="row">
        @* <=576 sm:>=576 md:>=768 lg:>=992 xl:>=1200 xxl>=1400 *@
        @* col-3 *@
        <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
            <img src="images/padrehermano.png" />
        </div>
        <div class="col">
            <p>Microbyt Konamic nacio en Diciembre de 2023 y su primera funcionalidad fue una postal navideña que todo mundo viera su felicitación.</p>
            <p>Este proyecto esta hecho en Bazor App (empezó en asp.net core mvc) usando .net 8 y la postal en unity3d 2022.3.16f1</p>
            <p>
                <span class="text-nombre1">Microbyt</span><span class="text-nombre2">Konami</span> viene de dos palabras:
                <ul>
                    <li><span class="text-nombre11">Microbyt</span> : Es una marca ficticia que ideo mi padre cuando yo de pequeño/adolescente hacia desarrollo con él. Mi padre murió hace 12 años y es un homenaje al él.</li>

                    <li><span class="text-nombre21">Konami</span>: Konami empresa de mi infancia de videojuegos y además konami2001es que es el usuario de mi hermano de twitter. Falleció hace un mes, 3 de Noviembre y es un homenaje al él.</li>
                </ul>
            </p>
        </div>
    </div>
</div>


@code {

}
