@page "/"
@inject IStringLocalizer<SharedResource> _localizer
@inject IStringLocalizer<Layout.MainLayout> _localizer2

<MKPageTitle Title="Página Principal" ShowH1="false" />

@_localizer["NickRequired"]<br />
@_localizer2["HomeNamePage"]
<a href="PostalNavidenya">Postal Navideña</a>
@* <a asp-area="" asp-controller="PostalNavidenya" asp-action="VerPostalNavidenya">Postal Navideña</a> *@

