@page "/"
@inject IStringLocalizer<SharedResource> shLoc

<MKPageTitle Title=@shLoc["HomeNamePage"] ShowH1="false" />

<a href="PostalNavidenya">@shLoc["ChristmasCardNamePage"]</a>
@* <a asp-area="" asp-controller="PostalNavidenya" asp-action="VerPostalNavidenya">Postal Navideña</a> *@

