@page "/"

<MKPageTitle Title="Página Principal" ShowH1="false" />

<a href="PostalNavidenya">Postal Navideña</a>
@* <a asp-area="" asp-controller="PostalNavidenya" asp-action="VerPostalNavidenya">Postal Navideña</a> *@

